ALLUXIO_UNDERFS_ADDRESS=/underStorage
KODO_IO_ORIGHOST=<KODO_IO_ORIGHOST>
KODO_UP_ORIGHOST=<KODO_UP_ORIGHOST>
ALLUXIO_WORKER_MEMORY_SIZE=15GB
ALLUXIO_WORKER_TIEREDSTORE_LEVELS=1
ALLUXIO_WORKER_TIEREDSTORE_LEVEL0_ALIAS=SSD
ALLUXIO_WORKER_TIEREDSTORE_LEVEL0_DIRS_PATH=/opt/cachedisk1,/opt/cachedisk2
ALLUXIO_WORKER_TIEREDSTORE_LEVEL0_DIRS_QUOTA=1600GB,1600GB
ALLUXIO_WORKER_TIEREDSTORE_LEVEL0_WATERMARK_HIGH_RATIO=0.7
ALLUXIO_WORKER_TIEREDSTORE_LEVEL0_WATERMARK_LOW_RATIO=0.4
ALLUXIO_CLASSPATH=/opt/alluxio/lib/gson-2.2.4.jar:/opt/alluxio/lib/qiniu-java-sdk-7.2.11.jar:/opt/alluxio/lib/okhttp-3.10.0.jar:/opt/alluxio/lib/okio-1.14.0.jar:/opt/alluxio/lib/jackson-annotations-2.9.5.jar:/opt/alluxio/lib/jackson-core-2.9.5.jar:/opt/alluxio/lib/jackson-databind-2.9.5.jar
ALLUXIO_ZOOKEEPER_ENABLED=true
ALLUXIO_ZOOKEEPER_ADDRESS=192.168.212.42:2181,192.168.212.45:2181,192.168.212.46:2181
ALLUXIO_ZOOKEEPER_LEADER_PATH=/leader/alluxio-ro
ALLUXIO_ZOOKEEPER_ELECTION_PATH=/election/alluxio-ro
ALLUXIO_WORKER_TIEREDSTORE_RESERVER_ENABLED=true
ALLUXIO_WORKER_TIEREDSTORE_RESERVER_INTERVAL=10000
ALLUXIO_WORKER_BLOCK_MASTER_CLIENT_POOL_SIZE=512
ALLUXIO_USER_BLOCK_MASTER_CLIENT_THREADS=2048
ALLUXIO_USER_BLOCK_WORKER_CLIENT_THREADS=2048
ALLUXIO_USER_FILE_MASTER_CLIENT_THREADS=1024
ALLUXIO_USER_NETWORK_NETTY_WORKER_THREADS=8192
