ALLUXIO_MASTER_HOSTNAME=alluxio-master-bowen
ALLUXIO_MASTER_PORT=19998
ALLUXIO_MASTER_JOURNAL_FOLDER=/journal

ALLUXIO_CLASSPATH=/opt/alluxio/lib/gson-2.2.4.jar:/opt/alluxio/lib/qiniu-java-sdk-7.2.11.jar:/opt/alluxio/lib/okhttp-3.10.0.jar:/opt/alluxio/lib/okio-1.14.0.jar:/opt/alluxio/lib/jackson-databind-2.9.5.jar:/opt/alluxio/lib/jackson-core-2.9.5.jar:/opt/alluxio/lib/jackson-annotations-2.9.5.jar

ALLUXIO_ZOOKEEPER_ENABLED=true
ALLUXIO_ZOOKEEPER_ADDRESS=alluxio-readonly-zk-cs:2181
