#!/bin/bash

# master
export ALLUXIO_MASTER_PORT=19998
export ALLUXIO_MASTER_WEB_PORT=19999
export ALLUXIO_MASTER_JOURNAL=<path>
export ALLUXIO_MASTER_UNDERFSSTORAGE=<path>

# worker
export ALLUXIO_MASTER_JOURNAL=<path>
export ALLUXIO_WORKER_SSD_DISK=<path>
export ALLUXIO_WORKER_UNDERFSSTORAGE=<path>
export ALLUXIO_WORKER_PORT=29998
export ALLUXIO_WORKER_DATA_PORT=29999
export ALLUXIO_WORKER_WEB_PORT=30000
export ALLUXIO_WORKER_MEMORY_SIZE=1G
export KODO_IO_ORIGHOST=iovip.qbox.me
export KODO_UP_ORIGHOST=up.qiniu.com

# proxy
export ALLUXIO_PROXY_WEB_PORT=39999
